*.csproj
*.sln
*.db
*.apk
Executables/
Project/**/Temp/
Project/**/ProjectSettings/ProjectVersion.txt
Project/**/Library/metadata/
Project/**/Library/UnityAssemblies/SyntaxTree.VisualStudio.Unity.Bridge.dll
Project/**/Library/ShaderCache/
Project/**/Library/UnityAssemblies/
Project/**/Library/ScriptAssemblies/
Project/**/Library/AssetServerCacheV3
Project/**/Library/AtlasCache/
Project/**/Library/AnnotationManager
Project/**/Library/AssetImportState
Project/**/Library/CurrentLayout.dwlt
Project/**/Library/EditorUserSettings.asset
Project/**/Library/InspectorExpandedItems.asset
Project/**/Library/LastSceneManagerSetup.txt
Project/**/Library/MonoManager.asset
Project/**/Library/ScriptMapper
Project/**/Library/assetDatabase3
Project/**/Library/expandedItems
Project/**/Library/CrashedAssetImports.txt
Project/**/Library/CurrentMaximizeLayout.dwlt
Project/**/Library/ProjectSettings.asset
Project/**/referencemap.xml
Project/**/Library/LastBuild.buildreport
Project/**/Library/il2cpp_cache/
Project/**/Library/webgl_cache/
Project/**/Library/il2cpp_cache 5.6.1f1 (2860b30f0b54)
Project/**/Library/PlayerDataCache/ScriptLayoutHashes.txt
Project/**/Library/PlayerDataCache/

